<div class="pa3 mw8 center">
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div>
    <div class="ba b--black-10">
      <%= @lesson.video_embed.html_safe %>
    </div>

    <h4>
      <%= link_to course_path(@lesson.course), class: "black-80", style: "text-decoration: none" do %>
        <%= @lesson.course.title %>
      <% end %>
    </h4>

    <div>
      <ul class="list pl0">
        <% @lesson.course.lessons.each do |lesson| %>
          <li class="lh-copy pv2 ba bl-0 bt-0 br-0 b--dotted b--black-30">
            <% if @lesson.id == lesson.id %>
              <div class="ba b--green">
                <%= lesson.title %>
                <span class="fr">Now playing</span>
              </div>
            <% else %>
              <div>
                <%= link_to lesson, style: "text-decoration: none" do %>
                  <%= lesson.title %>
                <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= render partial: "courses/purchase_button_or_info",
             locals:  { course: @lesson.course } %>
</div>
