<main class="p-2 xw-64r m-0a">
  <div>
    <h4 class="m-0 mb-1 fw-n">
      <%= link_to course_path(@lesson.course), class: "c-black td-n td-u:h" do %>
        <%= @lesson.course.title %>:
      <% end %>
    </h4>

    <h4 class="mt-0">
      <%= @lesson.title %>
    </h4>


    <div class="ow-1p">
      <% if @lesson.free || ContentAccessUser.new(current_user).can_access_lesson?(@lesson) %>
        <%= @lesson.video_embed.html_safe %>
      <% else %>
        <div>
          <div class="d-f fd-c ai-c t-0 jc-c l-0 df-c p-4" style="height: 100%">
            <h2 class="font-size-1 m-0a fw-b">
              You need a subscription!
            </h2>

            <br />

            <p style="text-align: center">
              Subscribe now and get access to <strong>all</strong> courses for <strong>1 year</strong>.
            </p>

            <br />

            <div class="m-0a p-2">
              <%= link_to 'Subscribe for $18', new_subscription_path, class: "btn buy-btn" %>
            </div>


            <% if !user_signed_in? %>
              <p>
                Already own it? <%= link_to 'Sign in', signin_path %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if user_chan? %>
    <div class="py-2">
      <%= link_to "Admin lesson", edit_admin_lesson_path(@lesson), class: "btn", "data-turbolinks": false %>
    </div>
  <% end %>
</main>

<div class="xw-64r m-0a">
  <div class="cf p-1">
    <% @lesson.course.lessons.each do |lesson| %>
      <% if lesson.id == @lesson.id %>
        <%= render partial: "current_lesson", locals: { lesson: lesson } %>
        <% else %>
        <%= render partial: "lesson", locals: { lesson: lesson } %>
      <% end %>
    <% end %>
  </div>
</div>
