<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <% if current_user.courses.include?(@lesson.course) %>
     <%= link_to "Purchased", purchases_path %>
  <% else %>
    <%= link_to 'Buy this Class', new_course_purchase_path(@lesson.course), class: "btn buy-btn" %>
  <% end %>
<% else %>
    <%= link_to 'Sign in to purchase this course', signin_path, class: "btn buy-btn" %>
<% end %>

<h4><%= @lesson.course.title %></h4>

<h4><%= @lesson.title %></h4>

<p><%= format_markdown(@lesson.description) %></p>

<div>
  <%= @lesson.video_embed.html_safe %>
</div>

<%= @lesson.transcript %>

<ul>
  <% @lesson.course.lessons.each do |lesson| %>
    <li>
      <%= link_to lesson do %>
        <%= lesson.title %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', course_path(@lesson.course) %>
