<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<div>
  <% @courses.each do |course| %>
    <%= link_to course do %>
      <img
        src="<%= course.image_url %>"
        alt="<%= course.title %> image"
        style="height: 128px; width: 128px"
      />
      <h4><%= course.title %></h4>
    <% end %>
  <% end %>
</div>
