<p id="notice"><%= notice %></p>

<div class="p-2">
  <%= link_to courses_path do %>
    <img src='https:icon.now.sh/chevron/left/11' alt='chevron icon' />
    Back
  <% end %>

  <div class="dt mw6 pv3 pv4-m pv5-ns">
    <div class="dtc v-top">
      <img
        src="<%= @course.image_url %>"
        alt="<%= @course.title %> image"
        class="mw3 db"
      />
    </div>
    <div class="dtc v-top pl3">
      <h4 class="ma0 mb2"><%= @course.title %></h4>
      <p class="lh-copy mv0"></p>

      <div>
        <%= render partial: "courses/purchase_button_or_info",
                   locals:  { course: @course } %>
      </div>
    </div>
  </div>

  <ul class="list pl0">
    <% @course.lessons.each_with_index do |lesson, i| %>
      <li class="lh-copy pv2 ba bl-0 bt-0 br-0 b--dotted b--black-30">
        <%= link_to lesson, style: "text-decoration: none" do %>
          <%= i %>
          <%= lesson.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
