<% provide :opg do %>
  <meta property="og:title" content="<%= @course.title %> on learnreact.com" />
  <meta property="og:type" content="video.other" />
  <meta property="og:description" content="<%= @course.description %>" />
  <meta property="og:url" content="<%= course_url(@course) %>" />
  <meta property="og:image" content="http://images.learnreact.com.s3.amazonaws.com/og-image.png" />
<% end %>

<main class="xw-64r m-0a">
  <div class="py-4 px-2 topography-background" style="border-width: 1px 0; border-style: solid; border-color: #efefef">
    <%= @course.lessons.first.video_embed.html_safe %>
  </div>

  <% if !ContentAccessUser.new(current_user).has_subscription? %>
    <div class="m-2">
      <%= link_to 'Subscribe for $36', new_subscription_path, class: "btn buy-btn", style: "width: 100%" %>
    </div>
  <% end %>

  <div class="m-2">
    <h1
      class="m-0 fw-900"
      property="og:title"
      content="<%= @course.title%>"
    ><%= @course.title %></h1>
  </div>

  <div class="m-2">
    <%= @course.description %>
  </div>

  <div class="px-2">
    <h4>Lessons: </h4>
    <ul class="p-0 bw-1p bc-white1" style="list-style-type: none">
      <% @course.lessons.each_with_index do |lesson, i| %>
        <%= link_to lesson, class: "d-b c-black td-n td-u:h", title: "#{lesson.title} on learnreact.com" do %>
          <li class="p-1">
            <%= lesson.title %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</main>