<% provide :opg do %>
  <meta property="og:title" content="<%= @course.title %> on learnreact.com" />
  <meta property="og:type" content="video.other" />
  <meta property="og:description" content="<%= @course.description %>" />
  <meta property="og:url" content="<%= course_url(@course) %>" />
  <meta property="og:image" content="http://images.learnreact.com.s3.amazonaws.com/og-image.png" />
<% end %>

<main class="p-2 xw-64r m-0a">
  <div>
    <div>
      <h4
        class="m-0"
        property="og:title"
        content="<%= @course.title%>"
      ><%= @course.title %></h4>
    </div>
  </div>
</main>

<div class="xw-64r m-0a">
  <div class="cf p-1">
    <%= render partial: "lessons/lesson", collection: @course.lessons %>
  </div>
</div>
