<div class="p-2 mw8 center">
  <p id="notice"><%= notice %></p>

  <%= link_to courses_path do %>
    <img src='https://icon.now.sh/chevron/left/11' alt='chevron icon' />
    Courses
  <% end %>

  <div class="dt pv3 pv4-m pv5-ns">
    <div class="dtc v-top">
      <div class="mw4 db outline black-10">
        <%= embedded_svg(@course.cover, size: "100%") %>
      </div>
    </div>
    <div class="dtc v-top pl3">
      <h4 class="ma0 mb2"><%= @course.title %></h4>
      <p class="lh-copy mv0 measure-wide"><%= @course.description %></p>

      <div>
        <%= render partial: "courses/purchase_button_or_info",
                   locals:  { course: @course } %>
      </div>
    </div>
  </div>

  <ul class="list pl0">
    <% @course.lessons.each_with_index do |lesson, i| %>
      <li class="lh-copy pv2 ba bl-0 bt-0 br-0 b--dotted b--black-30">
        <%= link_to lesson, style: "text-decoration: none" do %>
          <%= i %>
          <%= lesson.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
