<p id="notice"><%= notice %></p>

<img
  src="<%= @course.image_url %>"
  alt="<%= @course.title %> image"
  style="height: 128px; width: 128px"
/>

<h4><%= @course.title %></h4>

<p><%= format_markdown(@course.description) %></p>

<ul>
  <% @course.lessons.each do |lesson| %>
      <li>
        <%= link_to lesson do %>
          <%= lesson.title %>
        <% end %>
      </li>
  <% end %>
</ul>

<% if user_signed_in? %>
    <%= link_to 'Purchase this course', new_course_purchase_path(@course) %>
<% else %>
    <li><%= link_to 'Sign in to purchase this course', signin_path %></li>
<% end %>

<%= link_to 'Back', courses_path %>
