<p id="notice"><%= notice %></p>

<img
  src="<%= @course.image_url %>"
  alt="<%= @course.title %> image"
  class="s-8"
/>

<% if user_signed_in? %>
  <% if current_user.courses.include?(@course) %>
    <%= link_to "Purchased", purchases_path %>
  <% else %>
    <%= link_to 'Buy this Class', new_course_purchase_path(@course), class: "btn buy-btn" %>
  <% end %>
<% else %>
    <%= link_to 'Sign in to purchase this course', signin_path, class: "btn buy-btn" %>
<% end %>

<h4><%= @course.title %></h4>

<p><%= format_markdown(@course.description) %></p>

<ul>
  <% @course.lessons.each do |lesson| %>
    <li>
      <%= link_to lesson do %>
        <%= lesson.title %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', courses_path %>
