<% provide :opg do %>
  <meta property="og:title" content="<%= @course.title %> on learnreact.com" />
  <meta property="og:type" content="video.other" />
  <meta property="og:description" content="<%= @course.description %>" />
  <meta property="og:url" content="<%= course_url(@course) %>" />
  <!-- TODO
  <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
  -->
<% end %>

<main class="p-2 mw8 center">
  <div class="dt">
    <div class="dtc v-top">
      <div class="mw4 db outline black-10">
        <%= embedded_svg(@course.cover, size: "100%") %>
      </div>
    </div>
    <div class="dtc v-top pl3">
      <h4
        class="ma0 mb2"
        property="og:title"
        content="<%= @course.title%>"
      ><%= @course.title %></h4>
      <p class="lh-copy mv0 measure-wide"><%= @course.description %></p>

      <div class="pv4">
        <% if !@course.free %>
          <%= render partial: "courses/purchase_button_or_info",
                     locals:  { course: @course } %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- DUP: lessons/show -->
  <ul class="list pl0">
    <% if @course.free || user_signed_in? && current_user.courses.include?(@course) %>
      <% @course.lessons.each_with_index do |lesson, i| %>
        <li class="lh-copy pv2 ba bl-0 bt-0 br-0 b--dotted b--black-30">
          <%= link_to lesson, style: "text-decoration: none" do %>
            <%= i %>
            <%= lesson.title %>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <% @course.lessons.each_with_index do |lesson, i| %>
        <li class="lh-copy pv2 ba bl-0 bt-0 br-0 b--dotted b--black-30">
          <% if i <= @course.preview_length %>
            <%= link_to lesson, style: "text-decoration: none" do %>
              <%= i %>
              <%= lesson.title %>
            <% end %>
          <% else %>
            <span>
              <%= i %>
              <%= lesson.title %>
            </span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</main>
