<!DOCTYPE html>
<html>
  <head>
    <title>LearnReact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>

    <% if user_signed_in? %>
        <li><%= link_to 'Sign out', signout_path %></li>
    <% else %>
        <li><%= link_to 'Sign in', signin_path %></li>
    <% end %>

    <% if user_signed_in? %>
      <div><%= current_user.id %></div>
      <div><%= link_to 'Users', admin_users_path %></div>
    <% end %>
  </body>
</html>
