<!DOCTYPE html>
<html>
  <head>
      <title>LearnReact</title>
      <%= csrf_meta_tags %>

      <link rel="stylesheet" href="https://unpkg.com/btn.css@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/rem-point@1.0.0" />
      <link rel="stylesheet" href="https://unpkg.com/minions.font-weight@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/minions.display@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/minions.flex@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/minions.align-items@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/minions.text-align@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="black-80">
    <div>
      <header class="d-f ai-c bb b--black-10 pv3">
        <div class="f-1 mw8 center">
          <h1 class="ta-c m-0" style="font-size: 1rem">
            <%= link_to 'Learn React', root_path, class: "black-80", style: "text-decoration: none" %>
          </h1>
        </div>

        <div>
          <% if user_signed_in? %>
            <div style="display: none">
              <img
                src="<%= @current_user.avatar_url %>"
                class="s-3 br-100 ba dib" alt="avatar"
              >
            </div>
          <% end %>

          <div style="display: none">
            <% if user_signed_in? %>
                <%= link_to 'Sign out', signout_path, class: "btn" %>
            <% else %>
                <%= link_to 'Sign in', signin_path, class: "btn" %>
            <% end %>
          </div>
        </div>
      </header>

      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
      <% end %>

      <%= yield %>

      <footer class="pv3 mw8 center">
        <%= render "layouts/newsletter_form" %>

        <div class="gray mt3 i ph3">
          <small>© Copyright 2017, Michael Chan</small>
        </div>
      </footer>
    </div>

    <% if Rails.env.production? %>
      <%= render "layouts/analytics" %>
    <% end %>
  </body>
</html>
