<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
      <title>LearnReact</title>
      <%= csrf_meta_tags %>

      <link rel="stylesheet" href="https://unpkg.com/btn.css@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/rem-point@1.0.0" />
      <link rel="stylesheet" href="https://unpkg.com/minions.font-weight@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/minions.display@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/minions.flex@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/minions.align-items@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/minions.text-align@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>

      <%= yield :opg %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

      <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="black-80">
    <div>
      <header class="bb b--black-10">
        <div class="mw8 d-f ai-c center">
          <div class="f-1 center">
            <h1 class="m-0 pl3" style="font-size: 1rem">
              <%= link_to 'Learn React', root_path, class: "black-80", style: "text-decoration: none" %>
            </h1>
          </div>

          <div>
            <% if user_signed_in? %>
              <div id="userDropdown" data-dropdown class="dropdown pa3">
                <div>
                  <img
                    src="<%= @current_user.avatar_url %>"
                    class="s-3 br-100 ba dib" alt="avatar"
                  >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    class="symbol symbol-caret-down"
                    style="vertical-align: .5rem; font-size: .5rem"
                    aria-labelledby="title"
                    role="img"
                  >
                    <title id="title">caret-down icon</title>
                    <path
                      class="cls-1"
                      d="M15.865 4.049l-7.537 9.288a.422.422 0 0 1-.655 0L.135 4.049a.422.422 0 0 1 .328-.688h15.074a.422.422 0 0 1 .328.688z"
                      data-name="Layer 1"
                      role="presentation"
                    />
                  </svg>
                </div>
                <div
                  data-dropdown-menu
                  class="dropdown-menu ba b--black-40 bg-white"
                >
                  <ul class="list pa1 ma1">
                    <li><%= link_to 'Purchases', purchases_path %></li>
                    <li><%= link_to 'Sign out', signout_path, "data-no-turbolink": true %></li>
                  </ul>
                </div>
              </div>
            <% else %>
              <div>
                <%= link_to 'Sign in with Github', signin_path, class: "btn ma3", "data-no-turbolink": true %>
              </div>
            <% end %>
          </div>
        </div>

      </header>

      <% if flash[:notice] %>
        <div class="white bg-blue pa3 pv2 mw8 center"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:alert] %>
        <div class="white bg-red ph3 pv2 mw8 center"><%= flash[:alert] %></div>
      <% end %>

      <%= yield %>

      <footer class="bt b--black-10">
        <div class="pv3 mw8 center">
          <% if !user_signed_in? %>
            <%= render "layouts/newsletter_form" %>
          <% end %>

          <div class="gray mt3 ph3">
            <div class="mt3 i">
              <small>© Copyright 2017, Michael Chan</small>
            </div>
            <div>
              <small><a href="/terms" class="gray no-underline" target="_blank" rel="noopener">Terms and Conditions of Use</a></small>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <% if Rails.env.production? %>
      <%= render "layouts/analytics" %>
    <% end %>
  </body>
</html>
