<!DOCTYPE html>
<html>
  <head>
      <title>LearnReact</title>
      <%= csrf_meta_tags %>

      <link rel="stylesheet" href="https://unpkg.com/btn.css@0.3.0" />
      <link rel="stylesheet" href="https://unpkg.com/rem-point@1.0.0" />

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <% if user_signed_in? %>
        <%= link_to 'Sign out', signout_path, class: "btn" %>
    <% else %>
        <%= link_to 'Sign in', signin_path, class: "btn" %>
    <% end %>

    <% if user_signed_in? %>
      <div>
        <img
          src="<%= @current_user.avatar_url %>"
          alt="your github avatar"
          class="s-4"
        />
        <div><%= @current_user.name %>
      </div>
    <% end %>

    <hr />

    <%= yield %>
  </body>
</html>
